<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main"
>
<head>
    <title>Sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container rounded mt-2" style="background-color:white;">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-4 mt-5 mb-5">
            <div class="card shadow" style="border-radius: 15px">
                <div class="card-body">
                    <div layout:fragment="content" th:remove="tag">
                        <!-- Secure login.html inserted into main.html -->
                        <div id="login">
                            <h1>User Login</h1>
                            <div th:if="${loginFail}" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        ariahidden="true">&times;</span></button>
                                <span aria-hidden="true" th:text="${errorMsg}">&times;</span>
                            </div>
                            <div th:if="${loginSuccess}" class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        ariahidden="true">&times;</span></button>
                            </div>
                            <form th:action="@{/validate}" method="post" role="form" name="form1">
                                <p id="username-field">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="text-left w70 vaM">
                                        <input type="text" class=" form-control" name="email" id="email">
                                    </div>
                                </div>
                                </p>
                                <p id="password-field">
                                    <label>Password</label>
                                <div class="text-left w70 vaM">
                                    <input type="password" class="form-control" name="password"
                                           id="password">
                                </div>
                                <div style="color: #a94442" class="help-block" th:if="${param.error}">
                                    <span>Invalid username and password.</span>
                                </div>
                                </p>
                                <div class="center">
                                    <p id="signin-field">
                                        <input class="btn btn-primary btn-large" type="submit" id="signin" value="Sign in"/>
                                    </p>
                                    <div>
                                        <a th:href="@{/user/sign-up}" class="btn btn-primary">Sign Up</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- Secure login.html inserted into main.html -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">

        </div>
    </div>
</div>
</body>
</html>