<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Create new user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<nav th:include="common/nav :: nav"></nav>
<body>
    <div class="container rounded mt-2" style="background-color:white;">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-4 mt-5 mb-5">
            <div class="card shadow" style="border-radius: 15px">
                <div class="card-body">
                    <div layout:fragment="content" th:remove="tag">
                        <form th:action="@{/user/add}" th:object="${userAddForm}" method="post">
                            <div class="row">
                                <div class="span6 offset3">
                                </div>
                                <div class="form-group mt20 mb10" th:classappend="${#fields.hasErrors('name')}?'has-error'">
                                    <label>Name</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                                <span th:if="*{#fields.hasErrors('name')}" th:errors="*{name}" class="helpblock">error!</span>

                                <div class="form-group mt20 mb10" th:classappend="${#fields.hasErrors('email')}?'has-error'">
                                    <label>Email</label>
                                    <input type="text" class="form-control" th:field="*{email}"/><br>
                                </div>
                                <span th:if="*{#fields.hasErrors('email')}" th:errors="*{email}" class="helpblock">error!</span>
                                <div class="form-group mt20 mb10" th:classappend="${#fields.hasErrors('password')}? 'haserror'">
                                    <label>Password</label>
                                    <input type="password" class="form-control" th:field="*{password}"/><br>
                                </div>
                                <span th:if="*{#fields.hasErrors('password')}" th:errors="*{password}" class="helpblock">error!</span>

                               <div>
                                   <input class="btn btn-success" style="float: right" type="submit" name="submit" value="Create my account"/>
                                   <a th:href="@{/user/login}" class="btn btn-primary">Back</a>
                               </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">

        </div>
    </div>
</div>
</body>
</html>